{% extends "base.html" %}
{% load static %}
{% block title %}Доминанта - О нас{% endblock%}
{% block content %}


<body>

    <main class="main_about">
        <img class="resume1" src="{% static "assets/images/Денис.JPEG" %}" alt="Resume1">
        <p class="infa_about">
            Обслуживаю два концертных зала в консерватории, классы вокальной, народной, духовых и ударных инструментов,
            камерного ансамбля и концертмейтерского класса, теоретичекой, дирижерской и композиторской кафедр.
            Так же обслуживаю концертные площадки Президентского центра Бориса Ельцина и резиденцию губернатора
            Свердловской области.
            Имею большой опыт обслуживания всевозможных фестивалей и конкурсов, а так же международных конкурсов
            пианистов. Обслуживал концерты Мишеля Леграна, Валерия Шкарупы, Полины Осетинской, Валентины Лисицы, Алексея
            Гориболя, Леонида Десятникова. Также обслуживаю концерты лауреатов международного конкурса пианистов имени
            Веры Лотар-Шевченко и "Русские сезоны", "Дельфийские игры". Имею опыт работы с концертными роялями
            Steinway&Sons, C.Bechschtein, Yamaha, Bluthner и Petrof. В профессии с 1998 года.
        </p>
    </main>
</body>
{% endblock %}
