{% extends 'base.html' %}
{% load static %}
{% block title %}Доминанта - Контакты{% endblock%}
{% block content %}

<h1>Контакты</h1>
 <main class="main_contacts">
        <div class="map" style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/54/yekaterinburg/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Екатеринбург</a><a
                href="https://yandex.ru/maps/54/yekaterinburg/house/altayskaya_ulitsa_70/YkkYcA9gSkYCQFtsfXt5cXljYw==/?ll=60.678876%2C56.781141&utm_medium=mapframe&utm_source=maps&z=16.44"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Алтайская улица, 70 —
                Яндекс Карты</a><iframe
                src="https://yandex.ru/map-widget/v1/?ll=60.678876%2C56.781141&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjA3NTYyMRJy0KDQvtGB0YHQuNGPLCDQodCy0LXRgNC00LvQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCV0LrQsNGC0LXRgNC40L3QsdGD0YDQsywg0JDQu9GC0LDQudGB0LrQsNGPINGD0LvQuNGG0LAsIDcwIgoNqbhyQhU9H2NC&z=16.44"
                width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>

        <p class="requisites" style="color: #fff;"> Наши реквизиты:<br>
            Индивидуальный предприниматель <br> Щанников Денис Анатольевич <br>
            Адрес: г.Екатеринбург, ул.Алтайская, д.70, кв.171 <br>
            ОГРНИП 314667907300035 <br>
            ИНН 667113816735 <br>
            р\с 40802810416540004989 в Уральском Банке ПАО «Сбербанк России», г. Екатеринбург <br>
            к/с 30101810500000000674 <br>
            БИК 046577674 <br>
            тел. +79678520937 <br>
        </p>
    </main>

{% endblock %}
