{% extends 'base.html' %}
{% load static %}
{% block title %}Доминанта - Работы{% endblock%}
{% block content %}


<body>
    <div class="works">
        <div class="photo_block">
            <img class="photo" src="{% static "assets/images/IMG_6171.jpg" %}" alt="">
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rerum repellat velit
                iusto ullam assumenda quod culpa at facere tempora suscipit commodi laboriosam corrupti atque, quas
                saepe cupiditate? Ex quae reprehenderit consequuntur vitae! Libero mollitia repellat iure qui illo nulla
                reiciendis minus odio aspernatur. Doloribus quia magni saepe doloremque laboriosam architecto molestias
                ut, deleniti sapiente distinctio libero dolorum incidunt eos aut nobis porro possimus, nesciunt velit,
                voluptatem modi. Alias optio dicta soluta ad adipisci modi magni repellendus asperiores quas laborum!
            </p>
        </div>
        <div class="photo_block">
            <img class="photo" src={% static "assets/images/IMG_6172.jpg" %} alt="">
            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ipsa alias quaerat.
                Aperiam voluptatum quo perspiciatis architecto. Enim quibusdam et neque alias, dicta quasi officiis unde
                dolor amet aliquid fugiat.</p>
        </div>
        <div class="photo_block">
            <img class="photo" src={% static "assets/images/IMG_6171.jpg" %} alt="">
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur enim illo
                doloremque libero distinctio accusamus eligendi maiores temporibus quos minima officiis praesentium rem
                obcaecati modi sit culpa, blanditiis est?</p>
        </div>
        <div class="photo_block">
            <img class="photo" src={% static "assets/images/IMG_6172.jpg" %} alt="">
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto modi suscipit ex
                cupiditate doloremque! Natus voluptates iste totam, amet provident, voluptas sint deserunt qui dolores
                impedit enim exercitationem libero deleniti.</p>
        </div>

    </div>

</body>

{% endblock %}